<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <ul class="nav nav-tabs"id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/insert">Insert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/delete">Delete</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/update">Upadte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
    </ul>
    <div>
      <%- include('./tabs');%>
  </div>
</nav>