<div class="btn-group" role="group" aria-label="Basic example">
    <button onclick="window.location.href='/insertseller'" type="button" class="btn btn-primary">Sellers</button>
    <button onclick="window.location.href='/insert'" type="button" class="btn btn-warning">Orders</button>
    <button onclick="window.location.href='/trackingsearch'" type="button" class="btn btn-success">Tracking</button>
</div>