<html>
    <%- include('./partials/head');%>
<body>
    <%- include('./partials/nav');%>
    <br>
    <div class="container">
            <form method="post" action="/delete">
                <div class='mb-3'>
                    <label for="sellerID" class="form-label">Seller ID</label>
                    <input type="number" class="form-control" id="sellerID" name="sellerID">
                </div>
                <div class='mb-3'>
                    <label for="importedID" class="form-label">Imported ID</label>
                    <input type="text" class="form-control" id="importedID" name="importedID">
                </div>
                <button type="submit" class="btn btn-danger">  Delete  </button>
            </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>