<html>
    <%- include('./partials/head');%>
<body>
    <div class="container">
        <br>
        <button onclick="window.location.href='/insert'" type="button" class="btn btn-primary btn-lg">Insert</button><br><br>
        <button onclick="window.location.href='/update'"type="button" class="btn btn-secondary btn-lg">Upadte</button><br><br>
        <button onclick="window.location.href='/delete'"type="button" class="btn btn-danger btn-lg">Delete</button><br><br>
        <button onclick="window.location.href='/search'"type="button" class="btn btn-info btn-lg">Search</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>